.{
  
}
body{
  background-color: #222;

}

@font-face {
    font-family: "siyuanheiti";
    src: url("../fonts/siyuanheiti.otf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttc");
}

@font-face {
  font-family: "SNOKE";
  src: url("../fonts/SNOKE.otf");
}

.the_ground {
  border-width: 0px;
  border-radius: 20px;
  background-color: #222;
  position: relative;
  margin:0px auto;
  width: 900px;
  height: 800px;
  z-index: 2;
}


/* navigate */
/* LEFT */
left_navigate {
  font-size:14px;
}

/* RIGHT */
.right_navigate {
  right:0px;
  top: 39px; 
  position: absolute; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 30px; 
  display: inline-flex;
  
  cursor: pointer;

  font-size:14px;
}
.home_button {
  color: #00E479; 
  font-family: Helvetica; 
  font-weight: 700; 
  text-transform: uppercase; 
  word-wrap: break-word;
}


 
  .content {
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(240, 241, 240);
    position: relative;
    margin:250px auto;
    width: 800px;
    height: 516px;
    z-index: 6;
  }
  
  
  
.title {
  top:120px;
  width:900px;
  position:relative;
  margin:10px auto;

}
  
    